<!--todo Lyaout anpassen-->

<!-- Ausgabe von Nachrichten -->
<span data-ng-model="msg" data-ng-if="msg">{{msg}}</span>
<span class="errMsg" data-ng-if="errMsg">{{ errMsg }}</span>

<!-- Uebersicht der Anwaelte -->
<section>
    <h1>&Uuml;bersicht der Rechtsanw&auml;lte</h1>
    <section data-ng-repeat="lawyer in lawyers | orderBy:'-priority'">

        <!-- Ausgabe des Anwalts-->
        <article class="lawyers">
            <h1><a href="#/lawyer/{{lawyer.lastname}}/{{lawyer.userID}}">{{lawyer.lastname}}, {{lawyer.firstname}}</a></h1>
            <p>Anschrift: {{lawyer.zip}} {{lawyer.domicile}}</p>
            <p>Fachbereich: </p>
        </article>

    </section>
</section>